@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: beaufort, serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #010a13;
  /* 
  border-bottom: 2px solid #1e2328;
  border-right: 2px solid #1e2328;
  border-left: 2px solid #1e2328; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

* {
  min-width: 0;
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
